<table class="table table-hover text-center">
  <thead>
    {{#each metaData as |key|}}
      {{#if (eq key.name "panel_header")}}
        {{#each key.fields as |field|}}
          <th>
            {{field.name}}
          </th>
        {{/each}}
      {{/if}}
    {{/each}}
  </thead>
</table>
{{yield}}
