{{#each-in metaData as |module definition|}}
  {{#if (eq definition.name "save_button") }}
  <button class="btn btn-inverse" {{action "changeToLeads"}}> Leads </button>
  {{/if}}
{{/each-in}}
{{yield}}
