{{#each-in metaData as |module definition|}}
  {{#if (eq definition.name "cancel_button") }}
  <a class="btn btn-inverse" {{action "changeToAccounts"}}> Accounts </a>
  {{/if}}
{{/each-in}}
{{yield}}
